@font-face {
	font-family: "MonospaceNumbers";
	font-style: normal;
	font-weight: 400;
	src: local("Lucida Console"), local("Monaco"), local("Courier"), local("monospace");
	unicode-range: U+30-39;
}

body {
  margin: 0;
  font-family: MonospaceNumbers, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: MonospaceNumbers, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
